---
const {matchno,date,teamA,teamB,scoreA,scoreB,exA,exB,result,winBy} = Astro.props
console.log(date);
---
<head>
    <style>
        .scorecard {border: 20px; width: 600px; height: 200px; }
        .date {color: gray; text-align: right;}
        .teamName{text-align: left;font-size: large;}
    </style>    
</head>

<div class="card-actions justify-end"></div>

<div class="card bg-base-100 transition ease-in-out hover:shadow-xl mx-6 my-2 hover:scale-[102%]">
    <div class="card-body">
        <div class="scorecard">
            <div class="match">
                {matchno}
            </div>
            <div class="date">
                {date}
            </div>
        
            <div class="teamName">
                {teamA}
            </div>
            <div class="score">
                {scoreA}
                <div class="extraInfo">
                    {exA}
                </div>
            </div>
        
            <div class="teamName">
                {teamB}
            </div>
            <div class="score">
                {scoreB}
                <div class="extraInfo">
                    {exB}
                </div>
            </div>
        
            <hr>
            <div class="result">
                {result} WON BY {winBy}
            </div>
        </div>
      <div class="card-actions justify-end">
      </div>
  </div>
</div>
