---
const {link} = Astro.props
const response = await fetch(link)
const cards =  await response.json()
---

<section>
    {cards.map((card) => (
        <div class = "scorecard"> 
            <span style="color:gray text-align:left"> 
                {card.data.date}
            </span>

            <div>
                <div style="text-align: left;">
                    {card.data.teamA} 
                </div>
                <div style="text-align: right;">
                    {card.data.scoreA} ({card.data.ovA})
                </div>

                <div style="text-align: left;">
                    {card.data.teamB} 
                </div>
                <div style="text-align: right;">
                    {card.data.scoreB} ({card.data.ovB})
                </div>
            </div>

            <hr>

            {card.data.result} WON BY {card.data.winBy}

        </div>
    )
    )
    }
</section>

<style>
    .scorecard {
        height : 100px;
        width : 100px;
        border: 1px solid;
    }
</style>