---
import { literal, undefined } from "astro:schema";

const {matchno,date,teamA,teamB,scoreA,scoreB,exA,exB,result,winBy,href} = Astro.props
var winner;
var {teamAclass,teamBclass} = Astro.props
var link;
if (result == teamA) {
    winner = teamA
    teamAclass = "winclass"
    teamBclass = "loseclass"
}
else
{
    winner = teamB
    teamAclass = "loseclass"
    teamBclass = "winclass"
}

if (href != undefined) {
    link = href  
}
else
{
    link = ""
}

---
<head>
    <style>
        .scorecard {border: 20px; width: 100%; height: 35%; font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji;";}
        .date {color: brown; text-align: right;}
        .teamname{text-align: left;font-size: large; }
        .match {color: black; font-size: medium; display: flex; justify-content: space-between; margin-bottom: 12px; ; }
        .winclass{ color: black; display: flex; justify-content: space-between;height: 50px; background-color: rgb(182, 215, 186);}
        .loseclass{color: black; display: flex; justify-content: space-between; height: 50px; background-color: rgb(238, 189, 189);}
        .score{display: flex;justify-content: end; }
        .extrainfo{}
        .result{font-weight: bolder; font-size: larger;}
        hr{height: 4px;border-width: 2px; border-color: rgb(231, 152, 55);}
        bold{color: darkgreen;}
        italic{color: brown;}
    </style>    
</head>

<div class="card-actions justify-end"></div>

<div class="card bg-base-100 transition ease-in-out hover:shadow-xl mx-6 my-2 hover:scale-[102%]" style="background-color: rgb(215, 213, 203); width: 100% ; justify-self:center; ">
    <a href={link} target="_blank">
    <div class="card-body">
        <div class="scorecard">
            <div class="match">
                <span>
                    MATCH : {matchno}
                </span>
                <span class="date">
                    {date}
                </span>

            </div>
            <hr>
            
            
            <div class= {teamAclass}>
                <div class=teamname>
                    {teamA}
                </div>
                <div class="score">
                    {scoreA}
                
                <div class="extrainfo">
                    ({exA})
                </div>
                </div>
            </div>
            <div class= {teamBclass}>
                <div class="teamname">
                    {teamB}
                </div>
                <div class="score">
                    {scoreB}
                    <div class="extrainfo">
                        ({exB})
                    </div>
                </div>
            </div>
            
            <hr>
            <div class="result">
                <bold>{result}</bold> WON BY <italic>  {winBy}</italic>
            </div>
        </div>
      <div class="card-actions justify-end">
      </div>
  </div>
  </a>
</div>
